<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/src/public/CSS/Style.css">



<header style="background-image: url(https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);" class="no-repeat">
<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SushilGauraw</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Resister</a>
      </div>
    </div>
  </div>
</nav>

<div class="Container">
  <div class="row">
    <div class="col-md-12">
      <div class="te text-center m-4 p-5 ">
        <h1>WELCOME TO MERN PROJECT COURSE. </h1>
        <p>The Best Course On Project</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, voluptatibus temporibus? Eum dolores vitae ipsam sunt ipsum distinctio, vero facere ullam, commodi in repellendus, quibusdam animi repellat consectetur similique. Fugit, quam? Minima alias maiores architecto voluptates velit ad magnam corporis, ducimus expedita assumenda dignissimos natus quidem accusantium. Sunt, reprehenderit maiores.</p>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
  </div>
</div>
</header>
